* {
    margin: 0;
    list-style-type: none;
}

body {
    background-color: rgb(0, 0, 0);
    background-repeat: repeat, repeat;
    background-size: auto, auto;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(137, 43, 226, 0);
    min-height: 40vh;
    width: 50vw;
    display: flex;
    align-items: center;
}

header img {
    width: 90%;
}

#girl {
    background-color: rgb(0, 0, 0);
    min-height: 20vh;
    width: 100vw;
}

#girl img {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    filter: drop-shadow(rgb(57, 26, 128) 0px 0px 20px);

}

a:link {
    color: lightgray;
}

a:visited {
    color: rgb(129, 101, 174);
    text-decoration: underline;
}

a:hover {
    color: rgb(228, 213, 247);
    filter: drop-shadow(rgb(170, 79, 255) 0px 0px 15px);

}

a {
    text-decoration: none;
    font-weight: 800;
    font-size: 200%;
}



ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.shell {
    display: flex;
    justify-content: center;
    filter: drop-shadow(rgb(78, 43, 110) 0px -10px 20px);

}

#navP {
    text-decoration: none;
    font-size: 170%;
    font-weight: 600;
}

#navSon {
    text-decoration: none;
    font-size: 120%;
    font-weight: 500;
    color: rgb(150, 121, 175);
}

#navSon:hover {
    color: rgb(228, 213, 247);
    filter: drop-shadow(rgb(170, 79, 255) 0px 0px 15px);
}

.titre {
    background-color: rgba(0, 0, 0, 0.577);
    width: 100vw;
    min-height: 8vh;
    text-align: center;
    align-items: center;
    flex-direction: row;
    line-height: 60px;
    transition: .3s;
    cursor: pointer;
}

.titre ul li {
    height: 0;
    transition: .2s;
    opacity: 0;
    transform: translateY(-55px);
}

.titre:hover li {
    height: 55px;
    opacity: 1;
    transform: translateY(0);
}


main {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.577);
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

main img {
    width: 32vw;

}

main img:hover {
    transform: scale(105%);
}

body {
    background: #000000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: rgb(0, 0, 0);
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(rgb(21, 0, 43) 0px 0px 40px);
}

.img {
    width: 100%;
    justify-content: center;

}

#aPropos {
    width: 100vw;
}

#aPropos img {
    margin-top: 20px;
    width: 100vw;
}

footer {
    background-color: rgba(0, 0, 0, 0.863);
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 32px;
}

button {

    border: 1px solid rgb(187, 121, 240);
    background-color: #010101;
    font-weight: 800;
    color: rgb(255, 132, 187);
    padding: 10px 32px;
    cursor: pointer;
}

#retour:hover {
    color: rgb(228, 213, 247);
    filter: drop-shadow(rgba(255, 132, 187, 0.559) 0px 0px 10px);
}

button:hover {
    color: rgb(228, 213, 247);
    filter: drop-shadow(rgba(255, 132, 187, 0.559) 0px 0px 10px);
}